.recommendWrap
  background-image url("../img/blockRecommendBack.png")
  background-position top
  display flex
  flex-direction row
  justify-content center
  align-items center

.wrap__recommendH2
  margin 30px 0
  color #ffffff
  font-family Raleway-Medium
  font-size 48px
  font-weight 700
  text-align center

.recommendH3Block
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start
  margin 40px 0

.recommendH3Item
  display flex
  flex-direction column
  justify-content space-between
  align-items
  color #ffffff
  width 370px

.recommendH3Item__recommendH3ItemImage
  background #ffffff
  height 370px
  width 370px

.recommendH3Item__recommendH3ItemImage img
  width 348px
  padding 10px

.recommendH3Item__recommendH3
  cursor pointer
  margin 20px 0
  color #ffffff
  font-family GothaProMed
  font-size 32px
  font-weight 700
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  text-align center

.recommendTextBlock
  font-family GothaProMed
  font-size 14px
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  margin-bottom 30px
  color black
  background #ffffff

.recommendTextBlock___p
  padding 8px
  color #333333
  font-family Arial
  font-size 20px
  font-weight 400

.recommendTextBlock___img
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 10px

.recommendTextBlock___img img
  border 1px solid black

#howToBegin, #whatIsBinary, #comments
  display none
  flex-direction column
  justify-content flex-start
  align-items flex-start
  background-color #ffffff
  padding 25px

#whatIsBinary img
  max-width 800px

.comment-wrap
  a
    color #333333
    font-size .8em
    font-weight 600
    padding 5px

#comments
  li
    list-style-type none

  .comment-wrap
    display flex
    flex-direction row
    width 900px
    padding 10px
    margin 10px
    background-color #ffffff
    border-bottom 1px groove

  .text
    padding 10px
    font-size .8em

  .name
    color #365899
    font-weight 600
    font-size 17px

  .img-wrap
  .number
    font-weight 700
    font-size 14px
    padding 5px

  .avatar
    width 60px
    margin-right 10px

  .date
    font-weight 400
    font-size 14px
    padding 5px
