.recommendWrap
  background-image url("../img/blockRecommendBack.png")
  background-position top
  display flex
  flex-direction row
  justify-content center
  align-items center

.wrap__recommendH2
  margin 30px 0
  color #ffffff
  font-family Raleway-Medium
  font-size 48px
  font-weight 700
  text-align center

.recommendH3Block
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start
  margin 40px 0

.recommendH3Item
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  color #ffffff

.recommendH3Item__recommendH3ItemImage
  background #ffffff
  height 371px
  width 365px

.recommendH3Item__recommendH3ItemImage img
  width 355px
  padding 10px

.recommendH3Item__recommendH3
  margin 20px 0
  color #ffffff
  font-family GothaProMed
  font-size 32px
  font-weight 700
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  text-align center

.recommendTextBlockTextColumn, .recommendTextBlockImgColumn
  padding 20px
  display flex
  flex-direction column
  justify-content flex-start

.recommendTextBlock
  font-family GothaProMed
  font-size 14px
  display flex
  flex-direction row
  justify-content flex-start
  align-items flex-start
  margin-bottom 30px
  color black
  background #ffffff
  padding 20px

.recommendTextBlockTextColumn__recommendH4
  padding 20px 0
  font-size 32px

.recommendTextBlockImgColumn img
  padding 30px 0