.wrap
  min-width 1175px
  max-width 1175px

button
  cursor pointer

.temporary_hidden
  visibility hidden

.show-block
  float right!important
  font-size 25px!important
  text-decoration none!important
  color #00a8ed!important

.show-block:hover
  color red!important