@font-face
  font-family GothaProBla
  font-style normal
  src url(../font/GothamCyrillic/GothaProBla.otf)

@font-face
  font-family GothaProBlaIta
  font-style normal
  src url(../font/GothamCyrillic/GothaProBlaIta.otf)

@font-face
  font-family GothaProBol
  font-style normal
  src url(../font/GothamCyrillic/GothaProBol.otf)

@font-face
  font-family GothaProBolIta
  font-style normal
  src url(../font/GothamCyrillic/GothaProBolIta.otf)

@font-face
  font-family GothaProIta
  font-style normal
  src url(../font/GothamCyrillic/GothaProIta.otf)

@font-face
  font-family GothaProLig
  font-style normal
  src url(../font/GothamCyrillic/GothaProLig.otf)

@font-face
  font-family GothaProLigIta
  font-style normal
  src url(../font/GothamCyrillic/GothaProLigIta.otf)

@font-face
  font-family GothaProMed
  font-style normal
  src url(../font/GothamCyrillic/GothaProMed.otf)

@font-face
  font-family GothaProMedIta
  font-style normal
  src url(../font/GothamCyrillic/GothaProMedIta.otf)

@font-face
  font-family GothaProNarBol
  font-style normal
  src url(../font/GothamCyrillic/GothaProNarBol.otf)

@font-face
  font-family GothaProNarMed
  font-style normal
  src url(../font/GothamCyrillic/GothaProNarMed.otf)

@font-face
  font-family GothaProReg
  font-style normal
  src url(../font/GothamCyrillic/GothaProReg.otf)

@font-face
  font-family OpenSans
  font-style normal
  src url(../font/OpenSans/open-sans.ttf)

@font-face
  font-family Raleway-Black
  font-style normal
  src url(../font/Raleway/Raleway-Black.ttf)

@font-face
  font-family Raleway-Black-Italic
  font-style normal
  src url(../font/Raleway/Raleway-Black-Italic.ttf)


@font-face
  font-family Raleway-Bold
  font-style normal
  src url(../font/Raleway/Raleway-Bold.ttf)

@font-face
  font-family Raleway-Bold-Italic
  font-style normal
  src url(../font/Raleway/Raleway-Bold-Italic.ttf)

@font-face
  font-family Raleway-ExtraBold
  font-style normal
  src url(../font/Raleway/Raleway-ExtraBold.ttf)

@font-face
  font-family Raleway-ExtraBold-Italic
  font-style normal
  src url(../font/Raleway/Raleway-ExtraBold-Italic.ttf)

@font-face
  font-family Raleway-ExtraLight
  font-style normal
  src url(../font/Raleway/Raleway-ExtraLight.ttf)

@font-face
  font-family Raleway-ExtraLight-Italic
  font-style normal
  src url(../font/Raleway/Raleway-ExtraLight-Italic.ttf)

@font-face
  font-family Raleway-Light
  font-style normal
  src url(../font/Raleway/Raleway-Light.ttf)

@font-face
  font-family Raleway-Light-Italic
  font-style normal
  src url(../font/Raleway/Raleway-Light-Italic.ttf)

@font-face
  font-family Raleway-Medium
  font-style normal
  src url(../font/Raleway/Raleway-Medium.ttf)

@font-face
  font-family Raleway-Medium-Italic
  font-style normal
  src url(../font/Raleway/Raleway-Medium-Italic.ttf)

@font-face
  font-family Raleway-Regular
  font-style normal
  src url(../font/Raleway/Raleway-Regular.ttf)

@font-face
  font-family Raleway-Regular-Italic
  font-style normal
  src url(../font/Raleway/Raleway-Regular-Italic.ttf)

@font-face
  font-family Raleway-SemiBold
  font-style normal
  src url(../font/Raleway/Raleway-SemiBold.ttf)

@font-face
  font-family Raleway-SemiBold-Italic
  font-style normal
  src url(../font/Raleway/Raleway-SemiBold-Italic.ttf)

@font-face
  font-family Raleway-Thin
  font-style normal
  src url(../font/Raleway/Raleway-Thin.ttf)

@font-face
  font-family Raleway-Thin-Italic
  font-style normal
  src url(../font/Raleway/Raleway-Thin-Italic.ttf)