mixin b-slider(sliderCenterText, sliderBtnText)
	+b.slider#sliderBlock
		+b.sliderCenter
			+e._sliderNav
				input(type="image" src="img/left.png").controls#previous
				p.sliderCenterText!=sliderCenterText
				input(type="image" src="img/right.png").controls#next
				button.controls#pause Pause
			+e.sliderBtn
				a(href="#hiBlock")!= sliderBtnText
		ul#slides
			li.slide.showing#slide1
			li.slide#slide2
			li.slide#slide3
			li.slide#slide4