mixin b-slider(sliderCenterText, sliderBtnText)
	+b.slider
		+b.sliderCenter
			+e._sliderNav
				button.controls#previous
					img(src="img/left.png")
				p.sliderCenterText!=sliderCenterText
				button.controls#next
					img(src="img/right.png")
				button.controls#pause Pause
			+e.sliderBtn
				button.toggle-block!= sliderBtnText
		ul#slides
			li.slide.showing#slide1
			li.slide#slide2
			li.slide#slide3
			li.slide#slide4