mixin b-slider(sliderCenterText, sliderBtnText)
	+b.slider
		+b.sliderCenter
			+e._sliderNav
				img(src="img/left.png")
				p.sliderCenterText!=sliderCenterText
				img(src="img/right.png")
			+e.sliderBtn
				button()!= sliderBtnText
		ul#slides
			li.slide.showing#slide1
			li.slide#slide2
			li.slide#slide3
			li.slide#slide4