.storyHiddenWrap
  background #09c0e7
  background-position top
  display flex
  flex-direction row
  justify-content center
  align-items center

#hiddenStory
  display none
  flex-direction column
  justify-content flex-start
  align-items flex-start
  background-color #ffffff
  padding 25px

.storyHiddenTextBlock h2
  display flex
  flex-direction row
  justify-content flex-start
  align-items flex-start
  padding 30px 0
  width 886px
  height 78px
  color #333333
  font-family Arial
  font-size 36px
  font-weight 700

.storyHiddenTextBlock
  font-family GothaProMed
  color black
  font-size 17px
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  margin-bottom 30px

.storyHiddenWrap p
  padding 8px
  color #333333
  font-family Arial
  font-size 20px
  font-weight 400

.storyHiddenWrap img
  max-width 619px

.storyHiddenTextBlock__ImgBlock
  margin 15px 0
  display flex
  flex-direction row
  justify-content center
  align-items stretch

.storyHiddenTextBlock__img
  display flex
  flex-direction column
  justify-content center
  align-items center

.storyHiddenTextBlock__text
  display flex
  flex-direction column
  padding 0 20px
  justify-content space-between
  align-items flex-start

.storyHiddenTextBlock__head
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  color: #333333;

.storyHiddenTextBlock__body
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  padding-bottom 10px

.storyHiddenTextBlock__footer
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  color: #818181;
  padding-bottom 10px
