mixin b-storyHidden()
	+b.storyHiddenWrap
		+b.wrap
			+b.storyHiddenTextBlock
				+b#hiddenStory
					a(href='#hiddenStory').show-block X
					div
						h2 Я в 26 лет заработала на машину стоимостью<br> 5 370 000 рублей всего за 4 месяца
						p.storyHiddenText
							| У вас достаточно денег? У вас есть всё, о чём вы мечтали? Вас устраивает ваша жизнь? Если — да, то не теряйте время и просто закройте эту страницу.
						p
							| Остальным хочу рассказать о том, как вы сможете больше не ходить на работу с 9 утра до 18 вечера и начать зарабатывать по 25 000 – 30 000 рублей в день буквально за 2 дня не выходя из дома.
						p
							| Это сделала я, и вы, если захотите, тоже сможете это сделать! От меня не убудет, а кому-то это поможет в корне изменить всю жизнь и наконец-то обрести финансовую свободу.
						p
							| Немного о себе. Меня зовут Елена Кузнецова, мне 26 лет, я из Питера, самая обычная девушка из небогатой семьи. Я была поздним ребёнком у своих родителей. Моя мама работала медсестрой в городской поликлинике, а папа был водителем мусоровоза.
						p
							| Всё детство прошло в постоянном стремлении купить подешевле еду, одежду и, если повезёт, отложить немного денег на отпуск. Раз в 3–4 года даже получалось отдохнуть летом у Чёрного моря.
						p
							| Я закончила школу. Учиться в институте возможности не было, нужно было добывать деньги для себя и родителей (которые к тому времени уже были на пенсии).
						p
							| И я пошла работать. Устроилась консультантом-продавцом с зарплатой около 27 000 рублей в месяц. На дворе стоял 2008 год, и это был отличный заработок для Питера.
						p
							| Денег на всё хватало, но у меня была мечта — новый автомобиль BMW X6. Он очень дорогой, я знала, что придется долго копить. Но меня это не смущало — ведь это же мечта! А мечты так просто не исполняются. Так я думала тогда...
						p
							| А через 7 лет грянул кризис. Это был декабрь 2014 года, доллар «полетел в космос», люди паниковали. Мне было особо нечего терять, и я спокойно продолжала работать...
						p
							| Наш магазин детской одежды смог просуществовать ещё 3 месяца, и в марте 2015 года он обанкротился, а я «осталась на улице». Без работы, без средств к существованию, на шее у родителей-пенсионеров.
						p
							| Майские праздники 2015 года прошли в нашей семье невесело. Я второй месяц неистово перекапывала интернет в поисках хоть каких-то возможностей.
						p
							| Ещё почти через 2 недели таких поисков, практически полностью отчаявшись, я наткнулась на историю какого-то парня о том, как он сумел заработать за 1 месяц 520 000 рублей в интернете, сидя за компьютером, не выходя из дома и не вставая с кресла.
						p
							| Это был рассказ о том, как он торговал на бинарных опционах через сайт компании Биномо.
						p
							| Меня как будто ударило током. Вот он, мой шанс, который бывает раз в жизни!
						p
							|Сперва я почти ничего не поняла, но стала разбираться, копать разные сайты, форумы и блоги, перечитала кучу информации на эту тему и в результате во всём разобралась. Какое же это было счастье! До сих пор вспоминаю этот момент, когда вдруг всё поняла...
						p
							|Немного перебью саму себя, потому что хочу, чтобы вы тоже поняли, о чём я буду говорить дальше. Коротко и ясно расскажу о бинарных опционах, и вам не придётся искать информацию о том, что это такое, по сотням разных сайтов, как это делала когда-то я. Сэкономлю ваше время.
						p
							|Когда я во всём разобралась до конца, мне уже очень не терпелось, и я решила попробовать.
						p
							| Бесплатно зарегистрировалась, открыв счёт на сайте того же брокера — Биномо. Как оказалось впоследствии — это самый лучший русскоязычный брокер.
						p
							|После регистрации на моём счёте было 10 000 виртуальных денег для теста и обучения — их этот брокер даёт тоже бесплатно для тренировки всем.
						p
							|Сперва я попробовала свои силы на этих тестовых деньгах, всё получалось, я буквально за первый же час заработала ещё 11 000 чистыми, правда это были только цифры, а мне хотелось реальных денег. Но их можно заработать только пополнив свой счёт. Способов это сделать много: любая пластиковая карта Виза или Мастеркард, Киви, Вебмани, Яндекс Деньги.
						p
							|В этот же день вечером я положила на счёт реальные деньги. У меня от старой работы осталась сбербанковская карта Виза, с неё я и пополнила счёт. Для начала положила немного, у этого брокера можно начать всего с 500 рублей, и это огромное преимущество! Уж такое пополнение я могла себе позволить.
						p
							|Через час после начала с реальными деньгами у меня на счете уже было $26!!! Это было невероятно! Сердце выпрыгивало из груди, я с трудом могла дышать от волнения! У меня всё получалось!!!
						p
							|Всю следующую ночь я не сомкнула глаз, а на утро на счете было уже $197!!! Сто девяносто семь долларов США!!! Из 350 рублей, положенных на счёт вечером!!! Я не могла в это поверить!!! Хотелось продолжать до бесконечности, но сон одолел и я отключилась, с трудом дойдя до кровати...
						p
							|Едва открыв глаза в полдень, я снова заглянула в кабинет, и снова увидела $197 на своём счёте. Значит не приснилось!!!
						p
							|Весь следующий день я не отходила от компьютера, и к полуночи на счёте уже было $773!!! Я наизусть запомнила эти первые цифры моего успеха!
						p
							|То есть я заработала $773 минус $197, которые были у меня на счёте утром, получилось $576 за 12 часов! Тогда это было больше 28 000 рублей! За полдня!!! Столько я ещё никогда не зарабатывала в своей жизни!
						p
							|Перед сном я запросила выплату 27 000 рублей на свою карту Visa от Сбербанка. Всё ещё не до конца веря в успех, я провалилась в сон.
						p
							|Проснулась утром от звука смски в моём телефоне. Поступление 27 тысяч рублей на карту!!! 27 000 рублей только что поступило на мою карту!!!
						p
							|Ещё вчера там оставалось меньше 400 руб. после того, как я положила 100 руб. на телефон и пополнила свой счёт в Биномо на 350 руб., а только что пришло 27 000 рублей!!! Метод работает!!!
						p
							|Такого по-настоящему доброго утра не было уже очень-очень-очень давно!
						p
							|За следующую неделю я заработала больше 200 000 рублей, до конца июня — больше 850 000 рублей, к концу лета — почти 2 800 000 рублей, а в сентябре я купила свою мечту, о которой я уже и думать забыла! Новую BMW X6 за 5 370 000 рублей!!!
						p
							|Да, взяла чуть больше 1 000 000 рублей кредит, но с моими теперешними заработками — это не проблема. В итоге этот кредит я вернула через 2 месяца, уже в ноябре, не напрягаясь вообще.
						+e.ImgBlock
							+e.img
								img(src="img/f07046e087.png")
							+e.text
								+e.head А вот, кстати, мы после очередного шопинга. </br>Полюбуйтесь.
								+e.footerWrap
									+e.body "Я могу отчитаться за каждый заработанный мною миллион, кроме первого..."
									+e.footer Джон Дэвисон Рокфеллер
						p
							|Сижу сейчас, пишу этот текст и вспоминаю. Пытаюсь понять, как всё так получилось? А ведь очень просто! Я лишь поверила в себя! Сначала поверила в то, что найду свой шанс, потом поверила, что у меня получится также, как у того парня, чей пост я тогда прочла! Поверила по-настоящему!
						p
							|Надо просто поверить, что у вас всё обязательно получится! Это очень важно, без этого ничего не будет в жизни вообще! Никогда! Если вы не поверите в себя, то постепенно будете привыкать к мысли, что всё самое хорошее в вашей жизни уже было. И это материализуется, так и будет...
						p
							|Если вы за пеленой отчаяния, недоверия ко всему и кажущейся безысходности потеряете способность видеть шанс изменить всю свою жизнь, то вы никогда её не измените!
						p
							| Старайтесь видеть такой шанс во всём: в любых событиях вокруг вас, в людях, которые почему-то встречаются на вашем жизненном пути, в историях, которые почему-то попались вам на глаза и которые вы читаете, во всём! Всегда используйте эти шансы, ведь они ваши! И у вас всё обязательно получится!!!
						+e.ImgBlock
							+e.img
								img(src="img/suzuki_vstrom_1000-02.jpg")
							+e.text
								+e.head Путешествую по Австрии на мотоциклах!
								+e.footerWrap
									+e.body "Всякий, кому приходилось жить в бедности, знает, до чего это накладно - быть бедным"
									+e.footer Джеймс Болдуин
						p
							|Я почему-то всегда сильно верила в то, что я куплю машину своей мечты, и я её купила! Не накопила на неё, а просто купила, с дохода, который не иссякает, а только постоянно увеличивается по сей день. И в это же время я перестала зависеть от каких бы то ни было начальников, мне не нужно больше идти на работу к 9:00 с одним выходным в неделю и стоять на ногах до 18:00, как это было раньше.
						p
							|Сейчас я зарабатываю в день больше, чем я зарабатывала в месяц! Это невероятное чувство свободы!!!
						p
							|Чудо ли это? Не знаю, возможно, но — обыкновенное. Просто прочитала статью, просто поверила в себя и начала делать! И всё получилось!
						p
							|Кстати, на этой платформе - Binomo уже зарабатывает более 1 миллиона человек, многие из них публикуют видео своего успеха.
						p
							|Каждый из вас буквально за 2-3 дня может обрести полную финансовую свободу, перестав при этом ходить на работу вообще.
						p
							|Но парадокс в том, что многие даже не попробуют этого! Наверное, далеко не всем нужна РЕАЛЬНАЯ финансовая независимость.
						p
							|Мне она была очень нужна, и я очень хотела жить по-настоящему, а не работать минимум треть жизни лишь ради того, чтобы смочь прожить её остальные две трети.
						p
							|Я использовала свой шанс, и у меня всё получилось! И это мой заработок за прошлую неделю:
						+e.ImgBlock
							+e.img
								img(src="img/IMG_2428.jpg")
							+e.text
								+e.head Я использовала свой шанс, и у меня всё получилось!
								+e.footerWrap
									+e.body "Есть вещи важнее денег, но без денег эти вещи не купишь."
									+e.footer Проспер Мериме