.storyHiddenWrap
  font-size 24px
  font-family OpenSans
  display none
  flex-direction column
  justify-content center
  align-items center

.storyHiddenWrap .wrap
  display flex
  flex-direction column
  justify-content center
  align-items center

.storyHiddenWrap p
  padding 20px

.storyHiddenWrap img
  max-width 900px