mixin b-header(headerTextLeft, headerTextRight, classesBlock)
	+b.headerLittle(class="classesBlock")
		+e.topHeader!=headerTextLeft
		+e.socialsIcons
			img(src="img/facebook-circle-color.png" alt="fb")
			img(src="img/instagram-logo.png" alt="inst")
			img(src="img/vk-social-logotype.png" alt="vk")
		+e.headerRigthP!=headerTextRight