.macWrap
  background-image url("../img/blockMacBack.png")
  background-position top
  height 787px

.macWrap, .macWrap .wrap
  display flex
  flex-direction column
  align-items center
  justify-content center

.macDemo
  background-image url("../img/mac.png")
  width 1024px
  height 684px

iframe
  position relative
  top 48px
  left 93px
  height 540px
  width 865px