mixin b-form(formH3, buttonText)
	+b.formWrap
		+b.wrap
			+e.formH3#toForm!=formH3
			form(action="")
				+e.inputBlock
					label #[input(type="email" placeholder="Email")]
				+e.inputBlock
					label #[input(type="password" placeholder="Пароль")]
				+e.inputBlock
					+b.radio-block
						+e.radio-item
							input(type="radio" id="f-option" name="selector" value="rub" checked)
							label(for="f-option") Рубли
							div.check
						+e.radio-item
							input(type="radio" id="s-option" name="selector" value="usd")
							label(for="s-option") Доллары
							div.check
								div.inside
				+e.inputBlock#checkbox
					label #[input(type="checkbox" checked)] Я принимаю условия соглашения
				+e.inputBlock
					button(type="submit")!=buttonText