footer
  background-color #232323
  color #727272
  padding 20px 0
  display flex
  flex-direction row
  justify-content space-around

.footerColumn__socialsIcons img
  margin 5px

.footerWrap
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start

.footerColumn
  width 212px

.footerColumn
  display flex
  flex-direction column
  justify-content center