footer
  background-color #232323
  color #727272
  padding 20px 0
  display flex
  flex-direction row
  justify-content space-around

.footerColumn__socialsIcons img
  margin 5px

.footerWrap
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start

.footerColumn
  width 312px

.footerColumn
  display flex
  flex-direction column
  justify-content center
  align-items center

.footerColumn__footerText
  width 312px
  height 205px
  color #727272
  font-family OpenSans
  font-size 13px
  font-weight 400
  line-height 24px