include  header/header
include  slider/slider
include  storyHidden/storyHidden
include  hi/hi
include  mac/mac
include  recomend/recomend
include  video/video
include  form/form
include  footer/footer