.videoWrap
  background-image url("../img/blockVideoBack.png")
  background-position top
  height 849px
  display flex
  flex-direction row
  justify-content center
  align-items center

.videoWrap .wrap
  display flex
  flex-direction column
  justify-content center
  align-items center

.videoh2
  margin 40px 0
  text-align center
  color #2f2f2f
  font-family Raleway-Medium
  font-size 46px
  font-weight 700

.video-js .vjs-big-play-button {
  font-size: 3em!important;
  line-height: 6em!important;
  height: 6em!important;
  width: 6em!important;
  position: absolute!important;
  top: 200px!important;
  left: 400px!important;
  padding: 0!important;
  cursor: pointer!important;
  opacity: 1!important;
  border: 0.06666em solid #fff!important;
  background-color: #2B333F;
  background-color: rgba(43, 51, 63, 0.7);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 100%!important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}