.videoWrap
  background-image url("../img/blockVideoBack.png")
  background-position top
  height 849px
  display flex
  flex-direction row
  justify-content center
  align-items center

.videoWrap .wrap
  display flex
  flex-direction column
  justify-content center
  align-items center

.videoh2
  margin 40px 0
  text-align center
  color #2f2f2f
  font-family Raleway-Medium
  font-size 46px
  font-weight 700