mixin b-hi (hiHeader, hiText, btnText, linkText)
	+b.hiWrap#hiBlock
		+b.wrap
			+b.hiLeftBlock
				img(src="img/hiPhoto.png")
			+b.hiRightBlock
				+e.hiHeader!= hiHeader
				+e.HiText!= hiText
				+b.hiFooter
					+e._btn
						button().toggle-block!= btnText
					+e._link
						a(href="#toForm")!= linkText