.hiWrap
  background url("../img/2-layers.png")
  display flex
  flex-direction row
  justify-content center

.hiWrap .wrap
  display flex
  flex-direction row
  justify-content space-around
  padding 100px 0

.hiLeftBlock
  display flex
  flex-direction column
  justify-content flex-start
  align-items center

.hiLeftBlock img
  padding 10px
  margin 30px
  background-color white

.hiRightBlock__hiHeader, .hiRightBlock__HiText
  margin 10px
  padding 20px
  color #11c8ed
  background-color white
  display flex
  flex-direction column
  justify-content center
  align-items center
  font-family OpenSans
  font-size 40px
  font-weight 700
  line-height 14px

.hiRightBlock__HiText
  margin 10px
  padding 10px
  color #11c8ed
  background-color white
  display flex
  flex-direction column
  justify-content center
  align-items center
  font-family OpenSans
  font-size 21px
  font-weight 700
  line-height 24px

.hiFooter
  margin 30px 0
  display flex
  flex-direction row
  justify-content space-around
  align-items center

.hiFooter___btn button
  width 390px
  height 52px
  background-color #2292a9
  color #ffffff
  text-transform uppercase
  opacity 0.73
  cursor pointer
  font-family GothaProMed
  font-size 24px
  font-weight 700
  border none

.hiFooter___link a
  width 197px
  height 20px
  color #ffffff
  font-family Raleway
  font-size 22px
  font-weight 400
  text-decoration underline
  cursor pointer