.hiWrap
  background url("../img/2-layers.png")
  display flex
  flex-direction row
  justify-content center

.hiWrap .wrap
  display flex
  flex-direction row
  justify-content space-between
.hiLeftBlock
  display flex
  flex-direction column
  justify-content flex-start
  align-items center

.hiLeftBlock img
  width 223px
  height 225
  padding 7px
  margin 116px 50px 0 0
  background-color white

.hiRightBlock__hiHeader
  width 779px
  height 61px
  margin 81px 0 24px 0
  padding 0 0 0 15px
  background-color white
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  color #04323b
  font-family Tahoma
  font-size 36px
  font-weight 700
  line-height 14px

.hiRightBlock__HiText
  width: 779px;
  height: 219px;
  color: #000000;
  font-family: Tahoma;
  font-size: 21px;
  font-weight: 400;
  background-color #ffffff
  padding 15px 0 0 15px
  font-style regular


.hiFooter
  margin 30px 0
  display flex
  flex-direction row
  justify-content space-around
  align-items center

.hiFooter___btn button
  width 330px
  height 52px
  background-color #2292a9
  color #ffffff
  text-transform uppercase
  opacity 0.73
  cursor pointer
  font-family GothaProMed
  font-size 18px
  font-weight 700
  border none

.hiFooter___link a
  width 197px
  height 20px
  color #ffffff
  font-family Raleway-Medium-Italic
  font-style italic
  font-size 22px
  font-weight 400
  text-decoration underline
  cursor pointer
