extends layouts/root

block header
	-headerTextLeft = "Персональный сайт<br> Елены Кузнецовой"
	-headerTextRight = "Бинарные опционы - Мой выбор свободы и счастья!<br>И если пока ты ничего о них не знаешь, то самое время узнать!"
	-classesBlock = ""
	+b-header(headerTextLeft, headerTextRight, classesBlock)

block main
	-sliderBtnText = "Узнать подробнее"
	-sliderCenterText1 = "ПОЧЕМУ ТЫ НЕ ВЕРИШЬ<br>ЧТО МОЖНО ОБЕСПЕЧИВАТЬ СЕБЯ И ДЕТЕЙ<br>НЕ РАБОТАЯ В ОФИСЕ?"
	-sliderCenterText2 = "ПОЧЕМУ ТЫ ДУМАЕШЬ,<br>ЧТО ТОЛЬКО ИЗБРАННЫЕ ЗАРАБАТЫВАЮТ<br>ДОСТАТОЧНО ДЛЯ СЧАСТЬЯ?"
	-sliderCenterText3 = "ПОЧЕМУ ТЫ НЕ ВЕРИШЬ,<br>ЧТО МОЖНО ОБЕСПЕЧИВАТЬ СЕБЯ И ДЕТЕЙ<br>НЕ РАБОТАЯ В ОФИСЕ?"
	-sliderCenterText4 = "ПОЧЕМУ ТЫ СОМНЕВАЕШЬСЯ,<br>ЧТО КАЖДЫЙ ДЕНЬ ДОЛЖЕН БЫТЬ<br>ПО-НАСТОЯЩЕМУ РАДОСТНЫМ?"
	+b-slider(sliderCenterText1, sliderCenterText2, sliderCenterText3, sliderCenterText4, sliderBtnText)

	-hiHeader = "Привет! Меня зовут Елена Кузнецова"
	-hiText = "Прямо сейчас, на своём сайте я честно и очень подробно расскажу, как изменила свою жизнь, и как стала сильной, независимой и по-настоящему счастливой - поверь, ты тоже сможешь!</br></br>Потрать 15 минут времени на прочтение моей истории. Поверь, оно того стоит!</br></br>Ведь одна история может изменить всю твою жизнь. Когда-то одно видео изменило мою."
	-btnText = "Прочитать мою историю"
	-linkText = "Решиться и начать!"
	+b-hi(hiHeader, hiText, btnText, linkText)

	+b-storyHidden()

	+b-mac

	-recommendH2 = "Рекомендую прочитать"
	-recommendH3_1 = "[Инструкция] Как быстро начать"
	-recommendH3_2 = "Что такое бинарные опционы? "
	-recommendH3_3 = "Комментарии"
	-recommendH4 = "Заголовок номер один"
	-recommendText = ""
	+b-recommend(recommendH2, recommendH3_1, recommendH3_2, recommendH3_3, recommendH4, recommendText)

	-videoH2 = "Я хочу поделиться с вами одним видео из огромного числа, после которого - я стала трейдером!"
	+b-video(videoH2)

	-formH3 = "Регистрируйся и начинай зарабатывать"
	-buttonText = "РЕГИСТРАЦИЯ"
	+b-form(formH3, buttonText)

block footer
	-leftFooterText = "Обычно здесь ставят значки копирайта и пишут категорические запреты на использование информации. А я считаю, что всё, что может помочь вам менять свою жизнь к лучшему - должно быть доступным для всех! Ваша Елена Кузнецова."
	-rightFooterText = "Сайт оказывает информационные услуги на территории республики Сейшеллы. Торговля на финансовом рынке является высокорискованным видом ведения бизнеса и может привести к потере всех вложенных вами денежных средств."
	+b-footer(leftFooterText, rightFooterText)