extends layouts/root

block header
	-headerTextLeft = "Персональный сайт Елены Кузнецовой"
	-headerTextRight = "Бинарные опционы - Мой выбор свободы и счастья! И если пока ты ничего о них не знаешь, то самое время узнать!"
	-classesBlock = ""
	+b-header(headerTextLeft, headerTextRight, classesBlock)

block main
	+b-slider

block footer
	-leftFooterText = "Обычно здесь ставят значки копирайта и пишут категорические запреты на использование информации. А я считаю, что всё, что может помочь вам менять свою жизнь к лучшему - должно быть доступным для всех! Ваша Елена Кузнецова."
	-rightFooterText = "Сайт принадлежит и управляется компанией Openmallmaster GmbH, и оказывает информационные услуги на территории Федеративной Республики Германия. Торговля на финансовом рынке является высокорискованным видом ведения бизнеса и может привести к потере всех вложенных вами денежных средств."
	+b-footer(leftFooterText, rightFooterText)