include  ../block/index
include ../../node_modules/bemto.pug/bemto

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title Персональный сайт Елены Кузнецовой
		meta(name="viewport" content="width=1324")
	body
		header.header
			block header
		main.main
			block main
		footer.footer
			block footer
		link(href="css/bundle.css" rel="stylesheet")
		link(href="css/main.css" rel="stylesheet")
		script(src="js/all-min.js" type="text/javascript")
		script(src="js/main-min.js" type="text/javascript")